<html>
    <head>
        <style>
            .responsive-slides {
                position: relative;
                padding-bottom: 0%; /* 16:9 Ratio */
                overflow: hidden;
                width: 50%;
                height: 50%;
            }
            body {
                background: black;
            }
            {% with "screens/"|add:presentation_type|add:"/style.css" as template %}
            {% include template %}
            {% endwith %}
        </style>
        {% with "screens/"|add:presentation_type|add:"/script.js" as template %}
            {% include template %}
        {% endwith %}

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const button = document.getElementById('next-slide');
                console.log(button)
                button.addEventListener('click', async _ => {
                    try {
                      const response = await fetch('{% url "next-slide" %}', {
                        method: 'post',
                        body: {},
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                      });
                      console.log(response);
                    } catch(err) {
                      console.error(`Error: ${err}`);
                    }
                });
            })
        </script>

    </head>
    <body>
        <div class="responsive-slides">
            {% with "screens/"|add:presentation_type|add:"/presentation.html" as template %}
                {% include template %}
            {% endwith %}
        </div>

        <div>
            <button id="next-slide"> Next Slide </button>
        </div>

    </body>
</html>